server:
  port: 0
spring:
  application:
    name: ms-hotelgema-gestion-habitaciones
  profiles:
    default: prod
  config:
    import: "optional:configserver:http://ms-hotelgema-administracion-server-config:7777"

  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: {db.maximum-pool-size}
      connection-timeout: {db.connection-timeout}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
eureka:
  instance:
    instance-id: "${spring.application.name}:${random.value}"
    leaseRenewalIntervalInSeconds: 5     # heartbeat cada 5s
    leaseExpirationDurationInSeconds: 10 # expira si no responde en 10s

  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://ms-hotelgema-administracion-server-registry:8761/eureka/